body{
    margin: auto;
    background-color: #d5e1ef;
    text-align: center;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
}
.container{
    background-color: white;
    border-radius: 6%;
    height: 550px;
    margin: 120px auto;
    width: 350px;
}
.qr-image{
    border-radius: 5%;
    margin: 20px 0px;
}

.qr-content h3{
    margin-top: 0;
    margin-bottom: 15px;
    /* font-weight: 700; */
    font-size: 26px;
    color: hsl(217deg 43% 20%);
}
.qr-content p{
    margin-top: 0;
    font-size: 400;
    color: hsl(220deg 8% 65%);
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}