*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    background-color: rgb(148, 62, 234);
}
.navbar{
    justify-content: space-between;
}
.nav-list-1{
    list-style: none;
    flex-basis: 600px;
    justify-content: flex-start;
}
.nav-item{
    flex-basis: 100px;
}
.nav-list-2{
    list-style: none;
    flex-grow: 0.5;
}
a{
    margin: 10px;
    color: white;
}