*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 22px;
}
body{
    background-color: rgb(88 88 88);
}
.container{
    background-color: #f0f0f0;
    padding: 20px;
}
.flex{
    display: flex;
    align-items: center;
}
.navbar{
    justify-content: flex-start;
    flex-wrap: wrap;
}
.first{
    flex-grow: 0.1;
}
.second{
    flex-grow: 0.5;
}
.third{
    justify-content: space-evenly;
    flex-grow: 0.4;
}
.nav-item{
    list-style: none;
}
.nav-item li{
    margin-left: 10px;
    margin-right: 10px;
}
.k{
    margin: 10px;
}
