<%- include("partials/header.ejs") %>
<main>
    <div class="container">
        <div class="heading"><%= "Office Work"  %></div>
        <form action="/wSubmit" method="post" class="inputForm">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit" name="list">+</button>
        </form>
        <div class="box">
            <% if(locals.work){ %>
                <% for(let i=0;i<work.length;i++){ %>
                    <div class="item">
                        <input type="checkbox">
                        <p><%= work[i] %></p>
                    </div>
                <% }%>
            <% } %>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>