*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(176, 244, 244);
    font-family: sans-serif;
}
.container{
    text-align: center;
    margin: 5%;
}
.container h4{
    font-size: 2.8rem;
    padding: 2%;
}
.lorem-ispum label{
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
}
#amount{
    width: 40px;
    height: 25px;
}
.btn{
    width: 70px;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 5rem;
    cursor: pointer;
}
.lorem-text{
    margin: 3% auto;
    text-align: left;
    max-width: 50rem;
    font-size: 1.4rem;
}
.lorem-text p{
    padding-bottom: 2%;
}
@media(max-width:425px){
    .container{
        margin: 7%;
    }
    .container h4{
        font-size: 2.1rem;
    }
}