*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 5% 5%;
}
.heading{
    font-size: 5rem;
    margin: 10% auto;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
p{
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-bottom: 3%;
    /* text-align: center; */
}
ol{
    margin-left: 70px;
}
.quiz-instructions{
    font-size: 1.6rem;
    margin-bottom: 3%;
}
.l-btn{
    display: inline-block;
    width: 130px;
    height: 35px;
    border: 2px solid black;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: limegreen;
    color: #ffff;
    text-transform: capitalize;
}
.l-btn:hover{
    background-color: rgb(20, 139, 20);
    box-shadow: 3px 3px lightcoral;
}
@media (max-width:425px) {
    .heading{
        font-size: 3rem;
    }
    p{
        font-size: 1.8rem;
    }
    .quiz-instructions{
        font-size: 1.3rem;
    }
    ol{
        margin-left: 40px;
    }
}

/* quiz.html styling start */
.quiz-container{
    background-color: #f0f0f0;
    height: 100vh;
}
.float-container{
    padding: 2% 0;
}
.title{
    font-size: 4rem;
    margin-bottom: 3%;
    text-align: center;
    text-transform: capitalize;
}
.quiz-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3%;
    padding: 3% 10%;
    background-color: rgb(227, 227, 227);
    border: 0.1px solid rgb(209, 209, 209);
    box-shadow: 0 3px rgba(180, 180, 180, 0.69);
}
.quiz-question{
    display: flex;
    justify-content: center;
    align-items: start;
}
.question{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 300;
}
.quiz-time{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 2%;
}
.quiz-answer{
    margin: 0 10% 10%;
}
ol{
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin: 0 0 5% 10%;
}
.submit-button{
    text-align: end;
    padding-right: 10%;
}
.m-btn{
    width: 120px;
    height: 40px;
    background-color: rgb(255, 145, 60);
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    color: #ffff;
    border-radius: 0.7rem;
    cursor: pointer;
    border: none;
}
.m-btn:hover{
    background-color: rgb(246, 133, 47);
    color: #e9e9e9;
    box-shadow: 2px 2px lightgrey;
}
@media(max-width:425px){
    .title{
        font-size: 2.6rem;
    }
    .question{
        font-size: 1.6rem;
    }
}