*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
.container{
    background-color: rgb(180, 151, 151);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.flex{
    display: flex;
}
.navbar{
    align-items: center;
}
.nav-list{
    list-style: none;
    flex-basis: 1100px;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    flex-basis: 150px;
    text-align: center;
}
.premium{
    color: #fea116;
}
