*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #cecece;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 7%; 
}
.grocery{
    text-align: center;
    background-color: #fff;
    width: 500px;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 3px 2px rgba(255, 255, 255, 0.876);
}
.alerts{
    text-transform: capitalize;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    visibility: hidden;
}
.danger{
    visibility: visible;
    background-color: rgba(199, 27, 27, 0.48);
    color: rgb(230, 28, 28);
}
.success{
    visibility: visible;
    background-color: rgb(15, 229, 15,0.48);
    color: rgb(3, 119, 3);
}
.heading{
    font-size: 3rem;
    font-family: sans-serif;
    color: rgba(39, 39, 39, 0.918);
    padding-bottom: 15px;
}
.ans{
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 6px;
    border-color: rgba(128, 128, 128, 0.711);
    border-radius: 10px;
    outline: none;
}
.btn{
    color: #ffffff;
    background-color: rgba(98, 201, 201, 0.838);
    width: 60px;
    height: 30px;
    border: 0.5px solid grey;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 20px;
}
.clear-btn{
    color: rgb(255, 29, 29);
    background: transparent;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 100;
    margin: 30px 20px 0;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}
.grocery-item{
    display: flex;
    margin: 2% 12%;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 200;
    text-transform: capitalize;
}
.edit-btn{
    font-size: 1.1rem;
    background: transparent;
    color: rgb(84, 235, 84);
    margin-right: 10px;
    border: none;
    cursor: pointer;
}
.delete-btn{
    font-size: 1.1rem;
    background: transparent;
    color: rgb(236, 38, 38);
    border: none;
    cursor: pointer;
}
@media(max-width:425px){
    .grocery{
        width: 350px;
    }
    .ans{
        width: 200px;
    }
}