<footer>
    <p class="copyright"> copyright © reserved by <a href="http://www.github.com/krishna102001" target="_blank"> KK Company </a><%= new Date().getFullYear()%> </p>
    <p class="madeinlove"> Made with ❤️ in India.</p>
</footer>
</body>
</html>